//Grundlagen der Medieninformatik WS 23_24
//		Multimediatechnik
//Digitale Medienproduktion DMP B1
//HTML und CSS Grundlagen - CSS Datei -
//Vorlesung Beispiele

p {
  color: blue;
  font-size: 200%;
}

h1 {
  color: red;
}
